In [1]:
#import libraries and data

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\Josh Wattay\anaconda3\Flight Delay Analysis'

In [3]:
#import data

flights2022 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2022.csv'))

In [4]:
#check output 

flights2022.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [5]:
#create samples due to high volume of records
#will be using 100k records per year for 2018, 2019, 2020, 2021, and 2022

sample18 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2018.csv')).sample(100000, random_state = 11)

In [6]:
#check output and shape of sample

sample18.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2079139,2018-12-02,Comair Inc.,DCA,BTV,False,False,1459,1533.0,34.0,34.0,...,1554.0,1655.0,2.0,1631,26.0,1.0,1.0,1600-1659,2,0.0
4054924,2018-06-30,Spirit Air Lines,ATL,LAS,False,False,1810,1833.0,23.0,23.0,...,1850.0,1951.0,4.0,1920,35.0,1.0,2.0,1900-1959,7,0.0
2486050,2018-02-11,Frontier Airlines Inc.,MCI,RSW,False,False,1234,1241.0,7.0,7.0,...,1249.0,1620.0,22.0,1619,23.0,1.0,1.0,1600-1659,5,0.0
4020576,2018-06-22,United Air Lines Inc.,DEN,CID,False,False,2017,2156.0,99.0,99.0,...,2211.0,33.0,4.0,2303,94.0,1.0,6.0,2300-2359,3,0.0
715981,2018-10-19,SkyWest Airlines Inc.,BGM,DTW,False,False,1728,1725.0,0.0,-3.0,...,1733.0,1846.0,7.0,1904,-11.0,0.0,-1.0,1900-1959,2,0.0

In [7]:
sample18.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
1754446,2018-11-09,Horizon Air,BZN,PDX,False,False,1603,1606.0,3.0,3.0,...,1614.0,1703.0,8.0,1710,1.0,0.0,0.0,1700-1759,3,0.0
4791052,2018-08-19,American Airlines Inc.,CLT,SAT,False,False,1615,1658.0,43.0,43.0,...,1715.0,1835.0,3.0,1808,30.0,1.0,2.0,1800-1859,5,0.0
1531238,2018-11-06,Southwest Airlines Co.,MDW,BDL,False,False,2155,2151.0,0.0,-4.0,...,2205.0,32.0,4.0,55,-19.0,0.0,-2.0,0001-0559,4,0.0
1842350,2018-12-25,SkyWest Airlines Inc.,MSP,SFO,False,False,1805,1802.0,0.0,-3.0,...,1817.0,2011.0,4.0,2039,-24.0,0.0,-2.0,2000-2059,7,0.0
2790780,2018-03-02,Southwest Airlines Co.,MDW,MCO,False,False,1000,958.0,0.0,-2.0,...,1007.0,1305.0,5.0,1330,-20.0,0.0,-2.0,1300-1359,4,0.0

In [8]:
sample18.shape

(100000, 61)

In [9]:
#create sample for 2019

sample19 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2019.csv')).sample(100000, random_state = 11)

In [10]:
#check output and shape of sample

sample19.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
4706373,2019-07-27,Spirit Air Lines,SEA,LAS,False,False,720,716.0,0.0,-4.0,...,730.0,928.0,5.0,947,-14.0,0.0,-1.0,0900-0959,4,0
1094369,2019-02-25,American Airlines Inc.,LAX,BNA,False,False,930,928.0,0.0,-2.0,...,937.0,1459.0,5.0,1521,-17.0,0.0,-2.0,1500-1559,8,0
1663959,2019-08-20,Southwest Airlines Co.,ATL,MSY,False,False,700,655.0,0.0,-5.0,...,707.0,710.0,2.0,725,-13.0,0.0,-1.0,0700-0759,2,0
1459243,2019-08-13,Delta Air Lines Inc.,LGA,MSY,False,False,1329,1327.0,0.0,-2.0,...,1337.0,1510.0,13.0,1550,-27.0,0.0,-2.0,1500-1559,5,0
340728,2019-04-11,Comair Inc.,CLT,ILM,False,False,2009,2019.0,10.0,10.0,...,2030.0,2105.0,4.0,2107,2.0,0.0,0.0,2100-2159,1,0

In [11]:
sample19.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
8011367,2019-01-15,Delta Air Lines Inc.,ATL,DCA,False,False,2109,2108.0,0.0,-1.0,...,2122.0,2238.0,3.0,2250,-9.0,0.0,-1.0,2200-2259,3,0
5660652,2019-05-27,American Airlines Inc.,ELP,DFW,False,False,1058,1046.0,0.0,-12.0,...,1059.0,1310.0,13.0,1340,-17.0,0.0,-2.0,1300-1359,3,0
1399823,2019-08-13,Southwest Airlines Co.,OKC,DAL,False,False,1805,1811.0,6.0,6.0,...,1821.0,1858.0,5.0,1900,3.0,0.0,0.0,1900-1959,1,0
1224506,2019-02-21,Southwest Airlines Co.,DEN,PHL,False,False,1050,1059.0,9.0,9.0,...,1116.0,1602.0,3.0,1620,-15.0,0.0,-1.0,1600-1659,7,0
2502307,2019-06-20,United Air Lines Inc.,LAX,EWR,False,False,815,815.0,0.0,0.0,...,837.0,1620.0,18.0,1639,-1.0,0.0,-1.0,1600-1659,10,0

In [12]:
sample19.shape

(100000, 61)

In [13]:
#create sample for 2020

sample20 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2020.csv')).sample(100000, random_state = 11)

In [14]:
#check sample output and shape

sample20.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
3862647,2020-02-18,Capital Cargo International,CLT,TRI,False,False,920,911.0,0.0,-9.0,...,946.0,1015.0,5.0,1023,-3.0,0.0,-1.0,1000-1059,1,0.0
2654512,2020-01-25,Alaska Airlines Inc.,LAS,SFO,False,False,615,604.0,0.0,-11.0,...,619.0,727.0,4.0,755,-24.0,0.0,-2.0,0700-0759,2,0.0
2020174,2020-10-14,SkyWest Airlines Inc.,MSP,IMT,False,False,1511,1509.0,0.0,-2.0,...,1523.0,1603.0,2.0,1615,-10.0,0.0,-1.0,1600-1659,2,0.0
972377,2020-03-31,SkyWest Airlines Inc.,FLG,PHX,False,False,1517,1507.0,0.0,-10.0,...,1521.0,1547.0,5.0,1609,-17.0,0.0,-2.0,1600-1659,1,0.0
2558117,2020-07-19,United Air Lines Inc.,LAX,ORD,False,False,2359,2348.0,0.0,-11.0,...,2.0,534.0,5.0,600,-21.0,0.0,-2.0,0600-0659,7,0.0

In [15]:
sample20.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
1266856,2020-03-19,Envoy Air,COS,DFW,False,False,1216,1213.0,0.0,-3.0,...,1331.0,1614.0,16.0,1508,82.0,1.0,5.0,1500-1559,3,0.0
168897,2020-09-18,American Airlines Inc.,TPA,DFW,False,False,1404,1359.0,0.0,-5.0,...,1410.0,1513.0,10.0,1540,-17.0,0.0,-2.0,1500-1559,4,0.0
1563959,2020-12-04,Frontier Airlines Inc.,MCO,BWI,False,False,600,555.0,0.0,-5.0,...,610.0,755.0,10.0,806,-1.0,0.0,-1.0,0800-0859,4,0.0
2272254,2020-07-17,Mesa Airlines Inc.,DFW,BMI,False,False,1850,1840.0,0.0,-10.0,...,1905.0,2038.0,5.0,2053,-10.0,0.0,-1.0,2000-2059,3,0.0
4710495,2020-04-02,Spirit Air Lines,TPA,CAK,False,False,1605,1626.0,21.0,21.0,...,1638.0,1839.0,3.0,1829,13.0,0.0,0.0,1800-1859,4,0.0

In [16]:
sample20.shape

(100000, 61)

In [17]:
#create sample for 2021

sample21 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2021.csv')).sample(100000, random_state = 11)

In [18]:
#check sample output and shape

sample21.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
3800526,2021-07-22,Republic Airlines,SDF,DTW,False,False,1820,1813.0,0.0,-7.0,...,1821.0,1920.0,5.0,1946,-21.0,0.0,-2.0,1900-1959,2,0.0
6157463,2021-06-20,JetBlue Airways,JAX,BOS,False,False,935,933.0,0.0,-2.0,...,943.0,1148.0,5.0,1209,-16.0,0.0,-2.0,1200-1259,5,0.0
4462349,2021-05-23,American Airlines Inc.,DFW,BOS,False,False,1100,1059.0,0.0,-1.0,...,1113.0,1525.0,5.0,1549,-19.0,0.0,-2.0,1500-1559,7,0.0
2163394,2021-09-16,Frontier Airlines Inc.,CVG,MCO,False,False,839,827.0,0.0,-12.0,...,848.0,1033.0,16.0,1050,-1.0,0.0,-1.0,1000-1059,4,0.0
4494348,2021-05-01,Capital Cargo International,ROA,CLT,False,False,700,1200.0,300.0,300.0,...,1212.0,1254.0,26.0,822,298.0,1.0,12.0,0800-0859,1,0.0

In [19]:
sample21.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2332722,2021-09-24,United Air Lines Inc.,PHL,ORD,False,False,830,841.0,11.0,11.0,...,858.0,936.0,8.0,956,-12.0,0.0,-1.0,0900-0959,3,0.0
4457302,2021-05-13,American Airlines Inc.,COS,DFW,False,False,1235,1240.0,5.0,5.0,...,1254.0,1508.0,13.0,1535,-14.0,0.0,-1.0,1500-1559,3,0.0
4681556,2021-05-08,SkyWest Airlines Inc.,BTR,DFW,False,False,600,554.0,0.0,-6.0,...,605.0,715.0,11.0,739,-13.0,0.0,-1.0,0700-0759,2,0.0
127784,2021-03-05,Southwest Airlines Co.,OAK,PSP,False,False,905,901.0,0.0,-4.0,...,912.0,1021.0,4.0,1035,-10.0,0.0,-1.0,1000-1059,2,0.0
5839030,2021-06-20,Mesa Airlines Inc.,STL,IAH,False,False,600,551.0,0.0,-9.0,...,605.0,739.0,9.0,812,-24.0,0.0,-2.0,0800-0859,3,0.0

In [20]:
sample21.shape

(100000, 61)

In [21]:
#create sample for 2022

sample22 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Combined_Flights_2022.csv')).sample(100000, random_state = 11)

In [22]:
#check sample output and shape

sample22.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2845243,2022-06-07,American Airlines Inc.,DCA,LGA,False,False,1300,1253.0,0.0,-7.0,...,1320.0,1401.0,7.0,1411,-3.0,0.0,-1.0,1400-1459,1,0
2716940,2022-06-08,Southwest Airlines Co.,MCO,SJU,False,False,1400,1417.0,17.0,17.0,...,1450.0,1718.0,3.0,1700,21.0,1.0,1.0,1700-1759,5,0
133831,2022-04-19,Republic Airlines,LGA,CMH,False,False,930,922.0,0.0,-8.0,...,946.0,1103.0,4.0,1134,-27.0,0.0,-2.0,1100-1159,2,0
2985881,2022-01-27,Delta Air Lines Inc.,SLC,FCA,False,False,2240,2237.0,0.0,-3.0,...,2252.0,13.0,4.0,31,-14.0,0.0,-1.0,0001-0559,3,0
2483165,2022-06-21,Delta Air Lines Inc.,LGA,PBI,False,False,705,703.0,0.0,-2.0,...,801.0,1011.0,3.0,959,15.0,1.0,1.0,0900-0959,5,0

In [23]:
sample22.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
4016104,2022-03-08,Southwest Airlines Co.,DSM,DEN,False,False,1750,1751.0,1.0,1.0,...,1803.0,1829.0,6.0,1840,-5.0,0.0,-1.0,1800-1859,3,0
3347015,2022-01-16,Republic Airlines,DCA,ATL,False,False,831,826.0,0.0,-5.0,...,856.0,1037.0,8.0,1051,-6.0,0.0,-1.0,1000-1059,3,0
640944,2022-02-03,Southwest Airlines Co.,DEN,ORF,False,False,1810,1826.0,16.0,16.0,...,1836.0,2333.0,3.0,2325,11.0,0.0,0.0,2300-2359,7,0
3329891,2022-01-09,JetBlue Airways,MCO,PSE,False,False,600,557.0,0.0,-3.0,...,615.0,945.0,4.0,949,0.0,0.0,0.0,0900-0959,5,0
2702925,2022-06-22,Southwest Airlines Co.,DEN,SAT,False,False,1155,1152.0,0.0,-3.0,...,1206.0,1451.0,2.0,1505,-12.0,0.0,-1.0,1500-1559,4,0

In [24]:
sample22.shape

(100000, 61)

In [25]:
#export samples as .csv files and prepare to concatinate

sample18.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Sample_Flights_2018.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

In [26]:
sample19.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Sample_Flights_2019.csv'), index=False)

In [27]:
sample20.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Sample_Flights_2020.csv'), index=False)

In [28]:
sample21.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Sample_Flights_2021.csv'), index=False)

In [29]:
sample22.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Sample_Flights_2022.csv'), index=False)

In [30]:
#concatinate samples to combine data for future analysis and data cleaning

samples_combined = pd.concat([sample18, sample19, sample20, sample21, sample22], axis=0)

In [31]:
#check output and shape

samples_combined.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2079139,2018-12-02,Comair Inc.,DCA,BTV,False,False,1459,1533.0,34.0,34.0,...,1554.0,1655.0,2.0,1631,26.0,1.0,1.0,1600-1659,2,0.0
4054924,2018-06-30,Spirit Air Lines,ATL,LAS,False,False,1810,1833.0,23.0,23.0,...,1850.0,1951.0,4.0,1920,35.0,1.0,2.0,1900-1959,7,0.0
2486050,2018-02-11,Frontier Airlines Inc.,MCI,RSW,False,False,1234,1241.0,7.0,7.0,...,1249.0,1620.0,22.0,1619,23.0,1.0,1.0,1600-1659,5,0.0
4020576,2018-06-22,United Air Lines Inc.,DEN,CID,False,False,2017,2156.0,99.0,99.0,...,2211.0,33.0,4.0,2303,94.0,1.0,6.0,2300-2359,3,0.0
715981,2018-10-19,SkyWest Airlines Inc.,BGM,DTW,False,False,1728,1725.0,0.0,-3.0,...,1733.0,1846.0,7.0,1904,-11.0,0.0,-1.0,1900-1959,2,0.0

In [32]:
samples_combined.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
4016104,2022-03-08,Southwest Airlines Co.,DSM,DEN,False,False,1750,1751.0,1.0,1.0,...,1803.0,1829.0,6.0,1840,-5.0,0.0,-1.0,1800-1859,3,0.0
3347015,2022-01-16,Republic Airlines,DCA,ATL,False,False,831,826.0,0.0,-5.0,...,856.0,1037.0,8.0,1051,-6.0,0.0,-1.0,1000-1059,3,0.0
640944,2022-02-03,Southwest Airlines Co.,DEN,ORF,False,False,1810,1826.0,16.0,16.0,...,1836.0,2333.0,3.0,2325,11.0,0.0,0.0,2300-2359,7,0.0
3329891,2022-01-09,JetBlue Airways,MCO,PSE,False,False,600,557.0,0.0,-3.0,...,615.0,945.0,4.0,949,0.0,0.0,0.0,0900-0959,5,0.0
2702925,2022-06-22,Southwest Airlines Co.,DEN,SAT,False,False,1155,1152.0,0.0,-3.0,...,1206.0,1451.0,2.0,1505,-12.0,0.0,-1.0,1500-1559,4,0.0

In [33]:
samples_combined.shape

(500000, 61)

In [34]:
#export combined samples as .csv files for data cleaning

samples_combined.to_csv(os.path.join(path, '02 Data', 'Original Data', 'Samples_Combined.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

In [36]:
#begin data cleaning

samples_combined.info

<bound method DataFrame.info of          FlightDate                 Airline Origin Dest  Cancelled  Diverted  \
2079139  2018-12-02             Comair Inc.    DCA  BTV      False     False
4054924  2018-06-30        Spirit Air Lines    ATL  LAS      False     False
2486050  2018-02-11  Frontier Airlines Inc.    MCI  RSW      False     False
4020576  2018-06-22   United Air Lines Inc.    DEN  CID      False     False
715981   2018-10-19   SkyWest Airlines Inc.    BGM  DTW      False     False
...             ...                     ...    ...  ...        ...       ...
4016104  2022-03-08  Southwest Airlines Co.    DSM  DEN      False     False
3347015  2022-01-16       Republic Airlines    DCA  ATL      False     False
640944   2022-02-03  Southwest Airlines Co.    DEN  ORF      False     False
3329891  2022-01-09         JetBlue Airways    MCO  PSE      False     False
2702925  2022-06-22  Southwest Airlines Co.    DEN  SAT      False     False

         CRSDepTime  DepTime  DepDelayMinutes  DepDelay  ...  WheelsOff  \
2079139        1459   1533.0             34.0      34.0  ...     1554.0
4054924        1810   1833.0             23.0      23.0  ...     1850.0
2486050        1234   1241.0              7.0       7.0  ...     1249.0
4020576        2017   2156.0             99.0      99.0  ...     2211.0
715981         1728   1725.0              0.0      -3.0  ...     1733.0
...             ...      ...              ...       ...  ...        ...
4016104        1750   1751.0              1.0       1.0  ...     1803.0
3347015         831    826.0              0.0      -5.0  ...      856.0
640944         1810   1826.0             16.0      16.0  ...     1836.0
3329891         600    557.0              0.0      -3.0  ...      615.0
2702925        1155   1152.0              0.0      -3.0  ...     1206.0

         WheelsOn  TaxiIn  CRSArrTime  ArrDelay  ArrDel15  ArrivalDelayGroups  \
2079139    1655.0     2.0        1631      26.0       1.0                 1.0
4054924    1951.0     4.0        1920      35.0       1.0                 2.0
2486050    1620.0    22.0        1619      23.0       1.0                 1.0
4020576      33.0     4.0        2303      94.0       1.0                 6.0
715981     1846.0     7.0        1904     -11.0       0.0                -1.0
...           ...     ...         ...       ...       ...                 ...
4016104    1829.0     6.0        1840      -5.0       0.0                -1.0
3347015    1037.0     8.0        1051      -6.0       0.0                -1.0
640944     2333.0     3.0        2325      11.0       0.0                 0.0
3329891     945.0     4.0         949       0.0       0.0                 0.0
2702925    1451.0     2.0        1505     -12.0       0.0                -1.0

         ArrTimeBlk  DistanceGroup  DivAirportLandings
2079139   1600-1659              2                 0.0
4054924   1900-1959              7                 0.0
2486050   1600-1659              5                 0.0
4020576   2300-2359              3                 0.0
715981    1900-1959              2                 0.0
...             ...            ...                 ...
4016104   1800-1859              3                 0.0
3347015   1000-1059              3                 0.0
640944    2300-2359              7                 0.0
3329891   0900-0959              5                 0.0
2702925   1500-1559              4                 0.0

[500000 rows x 61 columns]>

In [38]:
#search for missing values

null_counts = samples_combined.isnull().sum()

In [39]:
null_counts

FlightDate                0
Airline                   0
Origin                    0
Dest                      0
Cancelled                 0
                      ...
ArrDel15              15443
ArrivalDelayGroups    15443
ArrTimeBlk                0
DistanceGroup             0
DivAirportLandings        3
Length: 61, dtype: int64

In [40]:
#identify columns with mixed variable types

def detect_types(series):
    return series.apply(type).nunique()

mixed_type_columns = [col for col in samples_combined.columns if detect_types(samples_combined[col]) > 1]

print("Columns with mixed types:")
print(mixed_type_columns)

Columns with mixed types:
['Tail_Number']

### The Tail_Number column is the only column with mixed data types. This is to be expected as most tail numbers contain a combination of letters and numbers. I will consider changing this column to an object or string data-type in the future.

In [41]:
#check counts

for column in samples_combined.columns:
    print(f"Counts for column {column}:")
    print(samples_combined[column].value_counts())
    print("\n")

Counts for column FlightDate:
FlightDate
2022-07-01    553
2022-06-05    548
2022-06-08    547
2022-07-21    543
2022-04-28    539
             ...
2020-05-12    107
2020-05-30    104
2020-05-17    103
2020-05-16    100
2020-05-19     87
Name: count, Length: 1673, dtype: int64


Counts for column Airline:
Airline
Southwest Airlines Co.                       94985
Delta Air Lines Inc.                         56208
SkyWest Airlines Inc.                        54538
American Airlines Inc.                       53786
United Air Lines Inc.                        40488
Republic Airlines                            21969
JetBlue Airways                              19131
Envoy Air                                    18074
Endeavor Air Inc.                            17155
Comair Inc.                                  16247
Alaska Airlines Inc.                         15220
Spirit Air Lines                             14306
Mesa Airlines Inc.                           12517
Frontier Airlines Inc.                        9879
Allegiant Air                                 8618
Horizon Air                                   8086
Capital Cargo International                   6625
Air Wisconsin Airlines Corp                   6406
ExpressJet Airlines Inc.                      5742
Hawaiian Airlines Inc.                        5368
GoJet Airlines, LLC d/b/a United Express      4688
Commutair Aka Champlain Enterprises, Inc.     4487
Trans States Airlines                         2506
Compass Airlines                              2235
Empire Airlines Inc.                           363
Virgin America                                 304
Peninsula Airways Inc.                          42
Cape Air                                        27
Name: count, dtype: int64


Counts for column Origin:
Origin
ORD    23412
ATL    23368
DEN    20204
DFW    18976
CLT    15691
       ...
OGD        7
ILG        5
GST        5
ROP        4
PPG        1
Name: count, Length: 386, dtype: int64


Counts for column Dest:
Dest
ORD    23557
ATL    23511
DEN    20124
DFW    19017
CLT    15633
       ...
PPG        5
BIH        5
ILG        4
BFM        3
ROP        1
Name: count, Length: 387, dtype: int64


Counts for column Cancelled:
Cancelled
False    485734
True      14266
Name: count, dtype: int64


Counts for column Diverted:
Diverted
False    498833
True       1167
Name: count, dtype: int64


Counts for column CRSDepTime:
CRSDepTime
600    10330
700     8438
800     5062
900     3554
830     3552
       ...
217        1
430        1
257        1
141        1
234        1
Name: count, Length: 1327, dtype: int64


Counts for column DepTime:
DepTime
555.0    1280
556.0    1172
557.0    1159
655.0    1117
558.0    1086
         ...
428.0       1
424.0       1
425.0       1
346.0       1
215.0       1
Name: count, Length: 1419, dtype: int64


Counts for column DepDelayMinutes:
DepDelayMinutes
0.0       329442
1.0         9957
2.0         8121
3.0         7016
4.0         6304
           ...
744.0          1
444.0          1
506.0          1
459.0          1
1157.0         1
Name: count, Length: 912, dtype: int64


Counts for column DepDelay:
DepDelay
-5.0       40336
-4.0       37383
-3.0       35221
-6.0       32153
-2.0       31811
           ...
 753.0         1
 1028.0        1
 617.0         1
 502.0         1
 1157.0        1
Name: count, Length: 962, dtype: int64


Counts for column ArrTime:
ArrTime
1700.0    586
1639.0    579
1611.0    565
1615.0    560
1627.0    558
         ...
328.0       3
408.0       3
348.0       3
350.0       2
335.0       2
Name: count, Length: 1440, dtype: int64


Counts for column ArrDelayMinutes:
ArrDelayMinutes
0.0       326740
1.0         7919
2.0         7438
3.0         6898
4.0         6340
           ...
580.0          1
1448.0         1
789.0          1
483.0          1
1146.0         1
Name: count, Length: 901, dtype: int64


Counts for column AirTime:
AirTime
44.0     4399
60.0     4386
63.0     4368
45.0     4359
62.0     4352
         ...
473.0       1
659.0       1
627.0       1
613.0       1
645.0       1
Name: count, Length: 599, dtype: int64


Counts for column CRSElapsedTime:
CRSElapsedTime
90.0     9438
85.0     9324
80.0     8640
70.0     7962
75.0     7925
         ...
541.0       1
535.0       1
622.0       1
695.0       1
624.0       1
Name: count, Length: 590, dtype: int64


Counts for column ActualElapsedTime:
ActualElapsedTime
81.0     4141
80.0     4129
75.0     4058
76.0     4058
79.0     4056
         ...
686.0       1
691.0       1
619.0       1
626.0       1
592.0       1
Name: count, Length: 624, dtype: int64


Counts for column Distance:
Distance
337.0     3015
296.0     2498
224.0     2358
399.0     2186
594.0     2095
          ...
278.0        1
1662.0       1
1116.0       1
1665.0       1
1868.0       1
Name: count, Length: 1695, dtype: int64


Counts for column Year:
Year
2018    100000
2019    100000
2020    100000
2021    100000
2022    100000
Name: count, dtype: int64


Counts for column Quarter:
Quarter
1    141858
2    129465
3    118431
4    110246
Name: count, dtype: int64


Counts for column Month:
Month
3     50086
1     49132
7     47837
4     45079
6     42849
2     42640
5     41537
10    37202
12    36751
11    36293
8     35535
9     35059
Name: count, dtype: int64


Counts for column DayofMonth:
DayofMonth
18    16758
19    16649
16    16647
21    16613
17    16608
22    16597
11    16569
6     16558
10    16539
28    16525
12    16524
27    16516
20    16459
13    16446
5     16434
3     16428
14    16403
7     16385
24    16372
2     16365
26    16349
9     16332
4     16306
8     16288
23    16286
25    16199
15    16176
1     16106
30    15122
29    15081
31     9360
Name: count, dtype: int64


Counts for column DayOfWeek:
DayOfWeek
4    74477
5    74320
1    74235
7    73767
3    70153
2    68749
6    64299
Name: count, dtype: int64


Counts for column Marketing_Airline_Network:
Marketing_Airline_Network
AA    119281
UA    100230
DL    100021
WN     94985
AS     27514
B6     19131
NK     14306
F9      9879
G4      8618
HA      5731
VX       304
Name: count, dtype: int64


Counts for column Operated_or_Branded_Code_Share_Partners:
Operated_or_Branded_Code_Share_Partners
WN              94985
AA_CODESHARE    65495
UA_CODESHARE    59742
DL              56208
AA              53786
DL_CODESHARE    43813
UA              40488
B6              19131
AS              15220
NK              14306
AS_CODESHARE    12294
F9               9879
G4               8618
HA               5368
HA_CODESHARE      363
VX                304
Name: count, dtype: int64


Counts for column DOT_ID_Marketing_Airline:
DOT_ID_Marketing_Airline
19805    119281
19977    100230
19790    100021
19393     94985
19930     27514
20409     19131
20416     14306
20436      9879
20368      8618
19690      5731
21171       304
Name: count, dtype: int64


Counts for column IATA_Code_Marketing_Airline:
IATA_Code_Marketing_Airline
AA    119281
UA    100230
DL    100021
WN     94985
AS     27514
B6     19131
NK     14306
F9      9879
G4      8618
HA      5731
VX       304
Name: count, dtype: int64


Counts for column Flight_Number_Marketing_Airline:
Flight_Number_Marketing_Airline
61      219
64      207
55      203
352     203
403     200
       ...
9334      1
6404      1
6717      1
6412      1
6542      1
Name: count, Length: 7037, dtype: int64


Counts for column Operating_Airline:
Operating_Airline
WN    94985
DL    56208
OO    54538
AA    53786
UA    40488
YX    21969
B6    19131
MQ    18074
9E    17155
OH    16247
AS    15220
NK    14306
YV    12517
F9     9879
G4     8618
QX     8086
PT     6625
ZW     6406
EV     5742
HA     5368
G7     4688
C5     4487
AX     2506
CP     2235
EM      363
VX      304
KS       42
9K       27
Name: count, dtype: int64


Counts for column DOT_ID_Operating_Airline:
DOT_ID_Operating_Airline
19393    94985
19790    56208
20304    54538
19805    53786
19977    40488
20452    21969
20409    19131
20398    18074
20363    17155
20397    16247
19930    15220
20416    14306
20378    12517
20436     9879
20368     8618
19687     8086
20427     6625
20046     6406
20366     5742
19690     5368
20500     4688
20445     4487
20237     2506
21167     2235
20263      363
21171      304
20225       42
20253       27
Name: count, dtype: int64


Counts for column IATA_Code_Operating_Airline:
IATA_Code_Operating_Airline
WN    94985
DL    56208
OO    54538
AA    53786
UA    40488
YX    21969
B6    19131
MQ    18074
9E    17155
OH    16247
AS    15220
NK    14306
YV    12517
F9     9879
G4     8618
QX     8086
PT     6625
ZW     6406
EV     5742
HA     5368
G7     4688
C5     4487
AX     2506
CP     2235
EM      363
VX      304
KS       42
9K       27
Name: count, dtype: int64


Counts for column Tail_Number:
Tail_Number
N480HA    231
N491HA    231
N493HA    226
N494HA    213
N489HA    212
         ...
N567NK      1
427NV       1
N7550       1
N76055      1
N47533      1
Name: count, Length: 6999, dtype: int64


Counts for column Flight_Number_Operating_Airline:
Flight_Number_Operating_Airline
61      219
64      207
352     203
55      203
403     200
       ...
7337      1
6407      1
6567      1
6562      1
6542      1
Name: count, Length: 7039, dtype: int64


Counts for column OriginAirportID:
OriginAirportID
13930    23412
10397    23368
11292    20204
11298    18976
11057    15691
         ...
13829        7
12320        5
11997        5
14582        4
14222        1
Name: count, Length: 386, dtype: int64


Counts for column OriginAirportSeqID:
OriginAirportSeqID
1039707    23368
1129202    20204
1393007    19119
1129806    18976
1105703    15691
           ...
1458209        4
1382902        3
1109203        2
1500802        1
1422206        1
Name: count, Length: 426, dtype: int64


Counts for column OriginCityMarketID:
OriginCityMarketID
30977    29265
31703    27632
30194    24111
30397    23368
32575    22019
         ...
32131        7
32320        5
31997        5
34582        4
34222        1
Name: count, Length: 361, dtype: int64


Counts for column OriginCityName:
OriginCityName
Chicago, IL              29265
Atlanta, GA              23368
Denver, CO               20204
Dallas/Fort Worth, TX    18976
New York, NY             16504
                         ...
Ogden, UT                    7
Wilmington, DE               5
Gustavus, AK                 5
Rota, TT                     4
Pago Pago, TT                1
Name: count, Length: 380, dtype: int64


Counts for column OriginState:
OriginState
CA    52655
TX    51963
FL    40845
IL    30679
GA    25235
NY    22919
CO    22790
NC    22295
VA    18557
WA    15065
AZ    13681
PA    13097
MI    13090
NV    12973
NJ    10306
MN     9811
TN     9264
MO     9106
MA     9092
UT     8472
HI     8303
OH     7152
MD     7026
OR     6887
KY     5309
LA     5094
SC     4623
IN     4414
WI     4387
OK     2866
AK     2803
AL     2661
ID     2312
PR     2191
MT     2185
NE     2145
IA     2025
AR     2001
NM     1839
CT     1771
ND     1357
ME     1322
RI     1170
KS     1124
SD     1096
MS      928
WY      815
VT      665
NH      634
WV      481
VI      399
TT      115
DE        5
Name: count, dtype: int64


Counts for column OriginStateFips:
OriginStateFips
6     52655
48    51963
12    40845
17    30679
13    25235
36    22919
8     22790
37    22295
51    18557
53    15065
4     13681
42    13097
26    13090
32    12973
34    10306
27     9811
47     9264
29     9106
25     9092
49     8472
15     8303
39     7152
24     7026
41     6887
21     5309
22     5094
45     4623
18     4414
55     4387
40     2866
2      2803
1      2661
16     2312
72     2191
30     2185
31     2145
19     2025
5      2001
35     1839
9      1771
38     1357
23     1322
44     1170
20     1124
46     1096
28      928
56      815
50      665
33      634
54      481
78      399
75      115
10        5
Name: count, dtype: int64


Counts for column OriginStateName:
OriginStateName
California                                        52655
Texas                                             51963
Florida                                           40845
Illinois                                          30679
Georgia                                           25235
New York                                          22919
Colorado                                          22790
North Carolina                                    22295
Virginia                                          18557
Washington                                        15065
Arizona                                           13681
Pennsylvania                                      13097
Michigan                                          13090
Nevada                                            12973
New Jersey                                        10306
Minnesota                                          9811
Tennessee                                          9264
Missouri                                           9106
Massachusetts                                      9092
Utah                                               8472
Hawaii                                             8303
Ohio                                               7152
Maryland                                           7026
Oregon                                             6887
Kentucky                                           5309
Louisiana                                          5094
South Carolina                                     4623
Indiana                                            4414
Wisconsin                                          4387
Oklahoma                                           2866
Alaska                                             2803
Alabama                                            2661
Idaho                                              2312
Puerto Rico                                        2191
Montana                                            2185
Nebraska                                           2145
Iowa                                               2025
Arkansas                                           2001
New Mexico                                         1839
Connecticut                                        1771
North Dakota                                       1357
Maine                                              1322
Rhode Island                                       1170
Kansas                                             1124
South Dakota                                       1096
Mississippi                                         928
Wyoming                                             815
Vermont                                             665
New Hampshire                                       634
West Virginia                                       481
U.S. Virgin Islands                                 399
U.S. Pacific Trust Territories and Possessions      115
Delaware                                              5
Name: count, dtype: int64


Counts for column OriginWac:
OriginWac
91    52655
74    51963
33    40845
41    30679
34    25235
22    22919
82    22790
36    22295
38    18557
93    15065
81    13681
23    13097
43    13090
85    12973
21    10306
63     9811
54     9264
64     9106
13     9092
87     8472
2      8303
44     7152
35     7026
92     6887
52     5309
72     5094
37     4623
42     4414
45     4387
73     2866
1      2803
51     2661
83     2312
3      2191
84     2185
65     2145
61     2025
71     2001
86     1839
11     1771
66     1357
12     1322
15     1170
62     1124
67     1096
53      928
88      815
16      665
14      634
39      481
4       399
5       115
31        5
Name: count, dtype: int64


Counts for column DestAirportID:
DestAirportID
13930    23557
10397    23511
11292    20124
11298    19017
11057    15633
         ...
14222        5
10617        5
12320        4
10562        3
14582        1
Name: count, Length: 387, dtype: int64


Counts for column DestAirportSeqID:
DestAirportSeqID
1039707    23511
1129202    20124
1393007    19399
1129806    19017
1105703    15633
           ...
1422207        3
1056202        3
1382902        2
1422206        2
1458209        1
Name: count, Length: 428, dtype: int64


Counts for column DestCityMarketID:
DestCityMarketID
30977    29331
31703    27498
30194    24108
30397    23511
32575    22065
         ...
30082        5
34222        5
30617        5
32320        4
34582        1
Name: count, Length: 361, dtype: int64


Counts for column DestCityName:
DestCityName
Chicago, IL              29331
Atlanta, GA              23511
Denver, CO               20124
Dallas/Fort Worth, TX    19017
New York, NY             16497
                         ...
Cold Bay, AK                 5
Pago Pago, TT                5
Bishop, CA                   5
Wilmington, DE               4
Rota, TT                     1
Name: count, Length: 380, dtype: int64


Counts for column DestState:
DestState
CA    52617
TX    52177
FL    40597
IL    30675
GA    25414
NY    22986
CO    22708
NC    22355
VA    18248
WA    15027
AZ    13691
MI    13167
NV    13098
PA    13037
NJ    10206
MN     9921
TN     9468
MA     9059
MO     8932
UT     8366
HI     8219
OH     7450
MD     6965
OR     6804
KY     5326
LA     5107
SC     4694
WI     4372
IN     4349
OK     2934
AK     2773
AL     2615
ID     2408
MT     2164
PR     2129
NE     2069
IA     1985
AR     1979
NM     1932
CT     1815
ND     1345
ME     1286
RI     1212
KS     1170
SD     1067
MS     1013
WY      797
NH      627
VT      625
WV      505
VI      405
TT      106
DE        4
Name: count, dtype: int64


Counts for column DestStateFips:
DestStateFips
6     52617
48    52177
12    40597
17    30675
13    25414
36    22986
8     22708
37    22355
51    18248
53    15027
4     13691
26    13167
32    13098
42    13037
34    10206
27     9921
47     9468
25     9059
29     8932
49     8366
15     8219
39     7450
24     6965
41     6804
21     5326
22     5107
45     4694
55     4372
18     4349
40     2934
2      2773
1      2615
16     2408
30     2164
72     2129
31     2069
19     1985
5      1979
35     1932
9      1815
38     1345
23     1286
44     1212
20     1170
46     1067
28     1013
56      797
33      627
50      625
54      505
78      405
75      106
10        4
Name: count, dtype: int64


Counts for column DestStateName:
DestStateName
California                                        52617
Texas                                             52177
Florida                                           40597
Illinois                                          30675
Georgia                                           25414
New York                                          22986
Colorado                                          22708
North Carolina                                    22355
Virginia                                          18248
Washington                                        15027
Arizona                                           13691
Michigan                                          13167
Nevada                                            13098
Pennsylvania                                      13037
New Jersey                                        10206
Minnesota                                          9921
Tennessee                                          9468
Massachusetts                                      9059
Missouri                                           8932
Utah                                               8366
Hawaii                                             8219
Ohio                                               7450
Maryland                                           6965
Oregon                                             6804
Kentucky                                           5326
Louisiana                                          5107
South Carolina                                     4694
Wisconsin                                          4372
Indiana                                            4349

In [42]:
#remove duplicates and rename dataframe to more appropriate title

flights_clean = samples_combined.drop_duplicates()
print(flights_clean)

         FlightDate                 Airline Origin Dest  Cancelled  Diverted  \
2079139  2018-12-02             Comair Inc.    DCA  BTV      False     False
4054924  2018-06-30        Spirit Air Lines    ATL  LAS      False     False
2486050  2018-02-11  Frontier Airlines Inc.    MCI  RSW      False     False
4020576  2018-06-22   United Air Lines Inc.    DEN  CID      False     False
715981   2018-10-19   SkyWest Airlines Inc.    BGM  DTW      False     False
...             ...                     ...    ...  ...        ...       ...
4016104  2022-03-08  Southwest Airlines Co.    DSM  DEN      False     False
3347015  2022-01-16       Republic Airlines    DCA  ATL      False     False
640944   2022-02-03  Southwest Airlines Co.    DEN  ORF      False     False
3329891  2022-01-09         JetBlue Airways    MCO  PSE      False     False
2702925  2022-06-22  Southwest Airlines Co.    DEN  SAT      False     False

         CRSDepTime  DepTime  DepDelayMinutes  DepDelay  ...  WheelsOff  \
2079139        1459   1533.0             34.0      34.0  ...     1554.0
4054924        1810   1833.0             23.0      23.0  ...     1850.0
2486050        1234   1241.0              7.0       7.0  ...     1249.0
4020576        2017   2156.0             99.0      99.0  ...     2211.0
715981         1728   1725.0              0.0      -3.0  ...     1733.0
...             ...      ...              ...       ...  ...        ...
4016104        1750   1751.0              1.0       1.0  ...     1803.0
3347015         831    826.0              0.0      -5.0  ...      856.0
640944         1810   1826.0             16.0      16.0  ...     1836.0
3329891         600    557.0              0.0      -3.0  ...      615.0
2702925        1155   1152.0              0.0      -3.0  ...     1206.0

         WheelsOn  TaxiIn  CRSArrTime  ArrDelay  ArrDel15  ArrivalDelayGroups  \
2079139    1655.0     2.0        1631      26.0       1.0                 1.0
4054924    1951.0     4.0        1920      35.0       1.0                 2.0
2486050    1620.0    22.0        1619      23.0       1.0                 1.0
4020576      33.0     4.0        2303      94.0       1.0                 6.0
715981     1846.0     7.0        1904     -11.0       0.0                -1.0
...           ...     ...         ...       ...       ...                 ...
4016104    1829.0     6.0        1840      -5.0       0.0                -1.0
3347015    1037.0     8.0        1051      -6.0       0.0                -1.0
640944     2333.0     3.0        2325      11.0       0.0                 0.0
3329891     945.0     4.0         949       0.0       0.0                 0.0
2702925    1451.0     2.0        1505     -12.0       0.0                -1.0

         ArrTimeBlk  DistanceGroup  DivAirportLandings
2079139   1600-1659              2                 0.0
4054924   1900-1959              7                 0.0
2486050   1600-1659              5                 0.0
4020576   2300-2359              3                 0.0
715981    1900-1959              2                 0.0
...             ...            ...                 ...
4016104   1800-1859              3                 0.0
3347015   1000-1059              3                 0.0
640944    2300-2359              7                 0.0
3329891   0900-0959              5                 0.0
2702925   1500-1559              4                 0.0

[500000 rows x 61 columns]

### No duplicates detected as evidenced by the shape remaining at 500000,61

In [43]:
#check column names

column_names = flights_clean.columns
print("Column Names:")
print(column_names)

Column Names:
Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [44]:
#export flights_clean as .csv file for future analysis

flights_clean.to_csv(os.path.join(path, '02 Data', 'Clean Data', 'Flights_Clean.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column