# In this notebook...

## I will combine the filtered 2019, 2020, 2021, and 2022 data
## This will be extremely useful for future analysis and Tableau
## Tableau Public can only handle up to 15 million rows, that is why we are only including 2019-2022
## Future analysis should include as many records as possible

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Set path

path = r'D:\Data Analytics\Flight Delay Analysis\01 - Data\Wrangled Data'

In [3]:
# Import Datasets

df19 = pd.read_csv(os.path.join(path, 'flights2019_filtered.csv'), index_col = 0)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_22324\1594127265.py:3: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df19 = pd.read_csv(os.path.join(path, 'flights2019_filtered.csv'), index_col = 0)

In [4]:
df20 = pd.read_csv(os.path.join(path, 'flights2020_filtered.csv'), index_col = 0)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_22324\2663530619.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df20 = pd.read_csv(os.path.join(path, 'flights2020_filtered.csv'), index_col = 0)

In [5]:
df21 = pd.read_csv(os.path.join(path, 'flights2021_filtered.csv'), index_col = 0)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_22324\630118838.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df21 = pd.read_csv(os.path.join(path, 'flights2021_filtered.csv'), index_col = 0)

In [6]:
df22 = pd.read_csv(os.path.join(path, 'flights2022_filtered.csv'), index_col = 0)

In [7]:
frames = [df19, df20, df21, df22]

In [8]:
type(frames)

list

In [9]:
#Concatinate the Dataframes using Default Options

all_flights = pd.concat(frames)

In [10]:
all_flights.head()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
5,2019,1,1,4,5,2019-01-04,UA,OO,N114SY,5661,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
6,2019,1,1,4,5,2019-01-04,UA,OO,N945SW,5664,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
9,2019,1,1,4,5,2019-01-04,UA,OO,N145SY,5668,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
11,2019,1,1,4,5,2019-01-04,UA,OO,N693BR,5670,...,3,13.0,0.0,3.0,0.0,10.0,N,False,SkyWest Airlines Inc.,United Airlines Inc.
12,2019,1,1,4,5,2019-01-04,UA,OO,N213SY,5671,...,1,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.

In [11]:
all_flights.tail()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
7013492,2022,4,12,1,4,2022-12-01,UA,YX,N739YX,3414,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Republic Airlines,United Airlines Inc.
7013493,2022,4,12,1,4,2022-12-01,UA,YX,N643RW,3413,...,2,0.0,0.0,0.0,0.0,48.0,N,False,Republic Airlines,United Airlines Inc.
7013494,2022,4,12,1,4,2022-12-01,UA,YX,N729YX,3410,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Republic Airlines,United Airlines Inc.
7013495,2022,4,12,1,4,2022-12-01,UA,YX,N646RW,3409,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Republic Airlines,United Airlines Inc.
7013500,2022,4,12,1,4,2022-12-01,UA,YX,N750YX,3401,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Republic Airlines,United Airlines Inc.

In [12]:
all_flights.shape

(12608046, 47)

In [13]:
all_flights.columns

Index(['Year', 'Quarter', 'Month', 'Day_of_Month', 'Day_of_Week',
       'Flight_Date', 'Marketing_Airline_Network_Code', 'Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'Origin',
       'Origin_City_Name', 'Origin_State', 'Origin_State_Name', 'Dest',
       'Dest_City_Name', 'Dest_State', 'Dest_State_Name', 'Dep_Time',
       'Dep_Delay', 'Dep_Delay_Minutes', 'Dep_Del_15',
       'Departure_Delay_Groups', 'Dep_Time_Blk', 'Arr_Time', 'Arr_Delay',
       'Arr_Delay_Minutes', 'Arr_Del_15', 'Arrival_Delay_Groups',
       'Arr_Time_Blk', 'Cancelled', 'Cancellation_Code', 'Diverted',
       'Actual_Elapsed_Time', 'Air_Time', 'Flights', 'Distance',
       'Distance_Group', 'Carrier_Delay', 'Weather_Delay', 'NAS_Delay',
       'Security_Delay', 'Late_Aircraft_Delay', 'Duplicate',
       'Missing_Due_To_Cancellation', 'Airline', 'Marketing_Airline_Network'],
      dtype='object')

In [14]:
all_flights.shape

(12608046, 47)

In [15]:
# Save combined flight data for further analysis

all_flights.to_csv(os.path.join(path, 'all_flights.csv'))